.odds {
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.odds.big {
    font-size: 24px;
}
#police {
    color: blue;
    font-size: 36px;
}
#weed {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
/* Add CSS Styling */